#noteForm {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.createNoteInput {
  background: white;
  color: black;
  border: none;
  padding: .3em .3em;
  margin: .3em .3em;
  border-radius: 5px;
  box-shadow: 2px 2px #4b4f7e;

    &:focus {
     outline-width: 0;
    }
}

#submitButton {
  margin-bottom: 2em;
}
